<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>43294810938-jnl41jqcf0abfgtfopbejr8ovbihjgf6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.43294810938-jnl41jqcf0abfgtfopbejr8ovbihjgf6</string>
	<key>API_KEY</key>
	<string>AIzaSyAlDL_pwdood7e0JnDW22SPNiQE6QkZTMY</string>
	<key>GCM_SENDER_ID</key>
	<string>43294810938</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.helpcorner</string>
	<key>PROJECT_ID</key>
	<string>helpcorner-new</string>
	<key>STORAGE_BUCKET</key>
	<string>helpcorner-new.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:43294810938:ios:92459eccd8d75c3226a603</string>
</dict>
</plist>